[Desktop Entry]
Name=sound
Name[x-test]=xxsoundxx
Comment=Management of sound
Comment[x-test]=xxsoundxx
Encoding=UTF-8
Type=Service
Icon=network-modem
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Jake
X-KDE-Library=kcm_sound
X-KDE-PluginInfo-Name=kcm_sound
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma-mobile.org
X-KDE-PluginInfo-License=GPL
X-KDE-FormFactors=handset,tablet
X-Plasma-MainScript=ui/main.qml
